
<div class="footer">
  <div class="infomation">
      <div class="download">
          <h3>Tải ứng dụng chợ tốt</h3>
          <div class="app">
              <div>
                  <img class="qr" src="https://static.chotot.com/storage/default/group-qr.jpeg" alt="">
              </div>
              <div class="social">
                  <div>
                      <img src="https://static.chotot.com/storage/default/ios.svg" alt="">
                  </div>
                  <div>
                      <img class="gg" src="https://static.chotot.com/storage/default/android.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
      <div class="help">
          <h3>Hỗ trợ khách hàng</h3>
          <a>Trung tâm trợ giúp</a>
          <a>An toàn mua bán</a>
          <a>Quy định cần biết</a>
          <a>Quy chế quyền riêng tư</a>
          <a>Liên hệ hỗ trợ</a>
      </div>
      <div class="about">
          <h3>Về chợ tốt</h3>
          <a>Giới thiệu</a>
          <a>Tuyển dụng</a>
          <a>Truyền thông</a>
          <a>Blog</a>
      </div>
      <div class="link">
          <h3>Liên kết</h3>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-google-plus-square"></i>
          <h3>Chứng nhận</h3>
          <img src="https://static.chotot.com/storage/default/cerfiticate.png" alt="">
      </div>
  </div>
  <hr>
  <div class="address">
      <p>CÔNG TY TNHH CHỢ TỐT - Địa chỉ: Phòng 1808, Tầng 18, Mê Linh Point Tower, 02 Ngô Đức Kế, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh</p>
      <p>Giấy chứng nhận đăng ký doanh nghiệp số 0312120782 do Sở Kế Hoạch và Đầu Tư TPHCM cấp ngày 11/01/2013 </p>
      <p> Email: trogiup@chotot.vn- Đường dây nóng: (028)38664041</p>
  </div>
</div>
