<div class="header" style="margin: 0%;">
  <div class="top-header">
      <div class="logo">
          <img [routerLink]="['/']" style="cursor: pointer;text-decoration: none; border: none;" class="appWrapper-Header-logo" src="https://static.chotot.com/storage/marketplace/transparent_logo.png" alt="Chợ Tốt">
      </div>
      <div class="home">
          <a [routerLink]="['/']"><i class="fas fa-home"></i>Trang chủ</a>
          <a href=""><i class="far fa-smile-beam"></i>Tôi bán</a>
      </div>
  </div>
  <div class="bot-header">
      <div class="search">
          <input type="text" autocomplete="off" placeholder="Tìm kiếm trên chợ tốt">
      </div>
      <div class="user">
          <div class="login">
              <a [routerLink]="['/login']"><i class="far fa-user-circle"></i>Đăng nhập</a>
          </div>
          <div class="post">
              <a href=""><i class="far fa-edit"></i>ĐĂNG TIN</a>
          </div>
      </div>
  </div>
</div>
