<div class="content">
  <div class="first-content">
      <div class="img">
          <img src="https://cdn.chotot.com/admincentre/-DkR4K_BakJukpoZh9SIIXnn01-jr492W89N7rkAIsM/preset:raw/plain/64a33afef6f1a1ada93ab77791eeeb50-2714315531633318516.jpg" alt="">
      </div>
      <div class="option">
          <div class="item">
              <i class="fas fa-car"></i>
              <a href="">Định giá bán xe</a>
          </div>
          <div class="item">
              <i class="fas fa-star"></i>
              <a href="">Chợ tốt ưu đãi</a>
          </div>
          <div class="item">
              <i class="fas fa-dollar-sign"></i>
              <a href="">Nạp đồng tốt</a>
          </div>
          <div class="item">
              <i class="fas fa-heart"></i>
              <a href="">Tin đăng đã lưu</a>
          </div>
          <div class="item">
              <i class="fas fa-spinner"></i>
              <a href="">Vòng quay may mắn</a>
          </div>
      </div>
  </div>

  <div class="second-content">
      <b style="font-size: 16px;">Khám phá danh mục</b>
      <div class="top">
          <div class="category-1">
              <img alt="Bất động sản" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/1000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Bất động sản</span>
          </div>
          <div class="category-1">
              <img alt="Xe cộ" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/2000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Xe cộ</span>
          </div>
          <div class="category-1">
              <img alt="Đồ điện tử" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/5000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Đồ điện tử</span>
          </div>
          <div class="category-1">
              <img alt="Đồ ăn, thực phẩm và các loại khác" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/7000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Đồ ăn, thực phẩm và các loại khác</span>
          </div>
          <div class="category-1">
              <img alt="Giải trí, Thể thao, Sở thích" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/4000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Giải trí, Thể thao, Sở thích</span>
          </div>
          <div class="category-1">
              <img alt="Mẹ và bé" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/11000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Mẹ và bé</span>
          </div>
          <div class="category-1">
              <img alt="Dịch vụ, Du lịch" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/6000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Dịch vụ - Du lịch</span>
          </div>
      </div>

      <div class="bottom">
          <div class="category-1">
              <img alt="Việc làm" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/13000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Việc làm</span>
          </div>
          <div class="category-1">
              <img alt="Thú cưng" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/12000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Thú cưng</span>
          </div>
          <div class="category-1">
              <img alt="Đồ gia dụng, nội thất, cây cảnh" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/14000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Đồ gia dụng, nội thất, cây cảnh</span>
          </div>
          <div class="category-1">
              <img alt="Tủ lạnh, máy lạnh, máy giặt" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/9000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Tủ lạnh, máy lạnh, máy giặt</span>
          </div>
          <div class="category-1">
              <img alt="Thời trang, Đồ dùng cá nhân" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/3000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Thời trang, Đồ dùng cá nhân</span>
          </div>
          <div class="category-1">
              <img alt="Đồ dùng văn phòng, công nông nghiệp" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/8000.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Đồ dùng văn phòng, công nông nghiệp</span>
          </div>
          <div class="category-1">
              <img alt="Tất cả danh mục" src="https://static.chotot.com/storage/chapy-pro/newcats/v8/tat-ca-danh-muc.png" class="Categories__CategoryImg-l8pxai-5 eERTJD">
              <span>Tất cả danh mục</span>
          </div>
      </div>
  </div>

  <div class="third-content">
      <h3 style="font-size: 16px;padding: 10px;font-weight: bold;">Tin đăng mới</h3>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngFor="let new of news">
          <div class="thumbnail">
              <img data-src="{{new.img}}" style="cursor: pointer;">
              <div class="caption">
                  <h3 style="cursor: pointer;">{{new.name}}</h3>
                  <p style="color: red;">
                      {{new.price | currency : 'VND'}}
                  </p>
              </div>
          </div>
      </div>
  </div>

  <div class="fourth-content">
      <b style="font-size: 16px;">Chợ Tốt - Chợ Mua Bán, Rao Vặt Trực Tuyến Hàng Đầu Của Người Việt</b>
      <p>Chợ Tốt chính thức gia nhập thị trường Việt Nam vào đầu năm 2012, với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an toàn, mang
          đến hiệu quả bất ngờ. </p>
      <p> Đến nay, Chợ Tốt tự hào là Website rao vặt được ưa chuộng hàng đầu Việt Nam. Hàng ngàn món hời từ Bất động sản, Nhà cửa, Xe cộ, Đồ điện tử, Thú cưng, Vật dụng cá nhân... đến tìm việc làm, thông tin tuyển dụng, các dịch vụ - du lịch được đăng tin,
          rao bán trên Chợ Tốt. </p>
      <p> Với Chợ Tốt, bạn có thể dễ dàng mua bán, trao đổi bất cứ một loại mặt hàng nào, dù đó là đồ cũ hay đồ mới với nhiều lĩnh vực: </p>
      <p><b>Bất động sản:</b> Cho thuê, Mua bán nhà đất, căn hộ chung cư, văn phòng mặt bằng kinh doanh, phòng trọ đa dạng về diện tích, vị trí Phương tiện đi lại: xe ô tô, xe máy có độ bền cao, giá cả hợp lý.</p>
      <p><b>Phương tiện đi lại:</b> xe ô tô, xe máy có độ bền cao, giá cả hợp lý.</p>

      <p><b>Đồ dùng cá nhân:</b> quần áo, giày dép, túi xách, đồng hồ... đa phong cách, hợp thời trang.</p>

      <p><b>Đồ điện tử:</b> điện thoại di động, máy tính bảng, laptop, tivi, loa, amply...; đồ điện gia dụng: máy giặt, tủ lạnh, máy lạnh điều hòa... với rất nhiều nhãn hiệu, kích thước khác nhau.</p>
  </div>

  <div class="fifth-content">
      <b>Các từ khóa phổ biến</b>
      <div class="layout">
          <div class="first">
              <li>Việc làm thêm tại nhà</li>
              <li>Việc làm An Giang</li>
              <li>Việc làm Cà Mau</li>
              <li>Việc làm Đồng Nai</li>
              <li>Việc làm Long An</li>
              <li>Việc làm Tiền Giang</li>
              <li>Tìm việc làm quận Tân Bình</li>
              <li>LG V35 Cũ</li>
              <li>điện thoại iPhone cũ</li>
              <li>việc làm mùa dịch</li>
              <li>Ratel Cell R1020 Cũ</li>
              <li>may gia công khẩu trang</li>
              <li>Hải Sản Tươi Sống</li>
              <li>Đồ Uống</li>
              <li>Điện thoại sale 0% - Laptop sale 0%</li>
          </div>
          <div class="second">
              <li>iPhone 7 lock cũ</li>
              <li>Việc làm Bắc Ninh</li>
              <li>Việc làm Cần Thơ</li>
              <li>Việc làm Hà Nội</li>
              <li>Việc làm Nghệ An</li>
              <li>Tìm việc làm quận 7</li>
              <li>Tìm việc làm TPHCM</li>
              <li>iPhone XS Max Lock</li>
              <li>điện thoại Samsung cũ</li>
              <li>Điện thoại iPhone 8 Plus cũ</li>
              <li>iPhone 7 cũ</li>
              <li>việc làm online tại nhà</li>
              <li>Trái Cây</li>
              <li>Thịt Nhập Khẩu</li>
              <li>Xe ô tô sale 0% - Xe máy sale 0%</li>
          </div>
          <div class="third">
              <li>iPhone XR Lock</li>
              <li>Việc làm Bến Tre</li>
              <li>Việc làm Đà Nẵng</li>
              <li>Việc làm Hải Phòng</li>
              <li>Việc làm Thanh Hóa</li>
              <li>Tìm việc làm quận 8</li>
              <li>Việc làm Vĩnh Long</li>
              <li>Tập Đoàn Tuyển Dụng</li>
              <li>Điện thoại iPhone 7 Plus cũ</li>
              <li>Samsung Note 10 Cũ</li>
              <li>việc làm bao ăn ở</li>
              <li>giúp việc nhà chính chủ thuê</li>
              <li>iPhone SE 2020 Cũ</li>
              <li>Điện thoại iPhone 6S cũ</li>
              <li>Chợ Tốt sale 0%</li>
          </div>
          <div class="fourth">
              <li>iPhone 11 Cũ</li>
              <li>Việc làm Bình Dương</li>
              <li>Việc làm Đắk Lắk</li>
              <li>Việc làm Đà Lạt</li>
              <li>Việc làm Huế</li>
              <li>Tìm việc làm quận 9</li>
              <li>Samsung Note 9 cũ</li>
              <li>Công Ty Tuyển Dụng</li>
              <li>Việc làm Thủ Đức</li>
              <li>Nhận hàng về nhà làm</li>
              <li>nhận hàng gia công về nhà làm</li>
              <li>Oppo F11 Pro cũ</li>
              <li>Đồ Đặc Sản</li>
              <li>Bất động sản sale 0% - Nhà đất sale 0%</li>
              <li>Đồ gia dụng sale 0% - Bàn ghế sale 0%</li>
          </div>
      </div>
  </div>
</div>
