.login {
  padding: 10px;
  background-image: url(https://static.chotot.com/storage/assets/LOGIN/desktop_background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50% auto;
  a{
    text-decoration: none;
  }
  .choose{
    margin-left: 150px;
  }
  .form-login {
    text-align: center;
    margin: auto;
    background-color: white;
    height: 500px;
    width: 330px;
    box-shadow: 1px 1px 1px 1px rgb(219, 213, 213) inset;
    padding: 10px;
    input {
      margin-top: 15px;
    }
    button {
      background-color: #cacaca;
      min-width: 276px;
      margin: 15px auto;
    }
    a {
      text-decoration: none;
    }
    .forgot {
      padding: 15px;
    }
    .form {
      .logo {
        display: flex;
        justify-content: space-between;
      }
      .social {
        text-align: center;
        i {
          font-size: 40px;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
