<div class="login">
    <p class="choose"><a [routerLink]="['/']">Trang chủ</a> >> Đăng nhập</p>
    <div class="form-login">
        <div class="form">
            <div class="logo">
                <div class="hello">
                    <p style="color:#FFBA00; font-size: 24px; font-weight: bold;">Đăng nhập</p>
                    <p>Chào mừng quay lại</p>
                </div>
                <div class="img">
                    <img src="https://static.chotot.com/storage/assets/LOGIN/logo.svg" alt="">
                </div>
            </div>

            <input type="text" class="form-control" placeholder="Nhập SĐT của bạn">
            <input type="text" class="form-control" placeholder="Nhập mật khẩu của bạn">

            <button type="button" class="btn btn-default">Đăng nhập</button>
            <a class="forgot" href="">Bạn quên mật khẩu?</a>
            <p style="margin-top: 35px; text-align: center;">hoặc sử dụng</p>
            <div class="social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-google-plus-square"></i>
            </div>
            <p style="text-align : center; margin-top: 20px">Chưa có tài khoản? <a href="">Đăng kí ngay</a></p>
        </div>
    </div>

</div>
